.Items{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
    height: auto;
    width: 200px;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 200px;
    height:200px;
  }